@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #4CAC40;       /* Green */
  --text-primary:#05073C;/*navy blue*/
  --text-secondary-hover:#00ACC1;
  --color-secondary:#088396;
 

}

.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
  transition: background-color 0.3s ease;
}
.bg-primary:hover {
  background-color: var(--color-primary);
}
.bg-secondary{
  background-color:var(--color-secondary);
  color:#fff;
  transition: background-color 0.3s ease;
}

.text-primary {
  color: var(--text-primary);
  transition: color 0.3s ease;
}
.text-secondary:hover {
  color: var(--text-secondary-hover);
  transition:all 3s;
}

.font-roboto{
  font-family: "Roboto", sans-serif;

}
.font-raleway{
  font-family: "Raleway", sans-serif;

}

.container{
  max-width:1320px;
  margin:0 auto;

}
@media (max-width:1024px){
.container{
padding:0 8px
}
}


/* styles.css */
.DropdownMenuContent {
	transform-origin: var(--radix-dropdown-menu-content-transform-origin);
	animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.shadow-custom{
  boxShadow:0 0 20px 0 rgba(0, 0, 0, 0.10);
  }

  @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

@layer utilities {

.hero-wrapper{
  @apply max-w-[1840px] relative h-full mx-auto px-6 text-black z-10
}
@media (max-width: 2560px) and (min-width: 1820px) {
.hero-img1{
  @apply w-[777px] h-[360px] absolute bottom-[148px] left-0;
}
h1.hero-img1-text{
  @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30;
}
.hero-img1-img{
  @apply w-full h-full z-20 absolute object-fill;
}

.hero-img2{
  @apply w-[306px] h-[445px] absolute top-[120px] left-[calc(50%+60px)] -translate-x-1/2;
}
.hero-img2-img{
  @apply w-full h-full z-20 absolute object-cover;
}
h1.hero-img2-text{
@apply absolute top-1/2 right-[-62px] -translate-y-1/2 
-rotate-90  text-white  font-medium text-[128px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
}

div.hero-img3{
  @apply w-[653px] h-[365px] absolute bottom-[354px] right-0
}
h1.hero-img3-text{
  @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30
}
img.hero-img3-img{
  @apply w-full h-full z-20 absolute object-cover
}

}

@media (max-width:1820px) and (min-width: 1720px) {
  .hero-img1{
    @apply w-[720px] h-[360px] absolute bottom-[148px] left-0;
  }
  h1.hero-img1-text{
    @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30;
  }
  .hero-img1-img{
    @apply w-full h-full z-20 absolute object-fill
  }
  .hero-img2{
    @apply w-[306px] h-[445px] absolute top-[120px] left-[calc(50%+52px)] -translate-x-1/2;
  }
  .hero-img2-img{
    @apply w-full h-full z-20 absolute object-cover;
  }
  h1.hero-img2-text{
  @apply absolute top-1/2 right-0 -translate-y-1/2 
  -rotate-90  text-white  font-medium text-[128px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
  }
  div.hero-img3{
    @apply w-[600px] h-[365px] absolute bottom-[340px] right-0
  }
  h1.hero-img3-text{
    @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30
  }
  .hero-img3-img{
    @apply w-full h-full z-20 absolute object-cover
  }
  }


  @media (max-width:1720px) and (min-width:1620px) {
    .hero-img1{
      @apply w-[680px] h-[360px] absolute bottom-[148px] left-0;
    }
    h1.hero-img1-text{
      @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30;
    }
    .hero-img1-img{
      @apply w-full h-full z-20 absolute object-fill
    }
    .hero-img2{
      @apply w-[306px] h-[445px] absolute top-[120px] left-[calc(50%+52px)] -translate-x-1/2;
    }
    .hero-img2-img{
      @apply w-full h-full z-20 absolute object-cover;
    }
    h1.hero-img2-text{
    @apply absolute top-1/2 right-0 -translate-y-1/2 
    -rotate-90  text-white  font-medium text-[128px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
    }

    div.hero-img3{
      @apply w-[580px] h-[365px] absolute bottom-60 right-0
    }
    h1.hero-img3-text{
      @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30
    }
    .hero-img3-img{
      @apply w-full h-full z-20 absolute object-cover
    }



    }
    @media (max-width:1620px) and (min-width:1536px) {
      .hero-img1{
        @apply w-[600px] h-[360px] absolute bottom-[148px] left-0;
      }
      h1.hero-img1-text{
        @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30;
      }
      .hero-img1-img{
        @apply w-full h-full z-20 absolute object-fill
      }
      .hero-img2{
        @apply w-[306px] h-[445px] absolute top-[120px] left-[calc(50%+52px)] -translate-x-1/2;
      }
      .hero-img2-img{
        @apply w-full h-full z-20 absolute object-cover;
      }
      h1.hero-img2-text{
      @apply absolute top-1/2 right-0 -translate-y-1/2 
      -rotate-90  text-white  font-medium text-[128px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
      }
      div.hero-img3{
        @apply w-[500px] h-[365px] absolute bottom-60 right-0
      }
      h1.hero-img3-text{
        @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30
      }
      .hero-img3-img{
        @apply w-full h-full z-20 absolute object-cover
      }
      }






















      @media (max-width:1536px) and (min-width:1280px) {
        .hero-img1{
          @apply w-[500px] h-[300px] absolute bottom-[300px] left-0;
        }
        h1.hero-img1-text{
          @apply text-[100px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30;
        }
        .hero-img1-img{
          @apply w-full h-full z-20 absolute object-fill
        }
        .hero-img2{
          @apply w-[250px] h-[360px] absolute top-[120px] left-[calc(50%+52px)] -translate-x-1/2;
        }
        .hero-img2-img{
          @apply w-full h-full z-20 absolute object-cover;
        }
        h1.hero-img2-text{
        @apply absolute top-1/2 right-[-50px] -translate-y-1/2 
        -rotate-90  text-white  font-medium text-[100px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
        }
        div.hero-img3{
          @apply w-[400px] h-[300px] absolute bottom-[40%] right-0
        }
        h1.hero-img3-text{
          @apply text-[100px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30
        }
        .hero-img3-img{
          @apply w-full h-full z-20 absolute object-cover
        }
      }









      @media (max-width:1279px) and (min-width:1150px) {
        .hero-img1{
          @apply w-[420px] h-[260px] absolute bottom-[300px] left-0;
        }
        h1.hero-img1-text{
          @apply text-[100px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30;
        }
        .hero-img1-img{
          @apply w-full h-full z-20 absolute object-fill
        }
        .hero-img2{
          @apply w-[220px] h-80 absolute top-[120px] left-[calc(50%+52px)] -translate-x-1/2;
        }
        .hero-img2-img{
          @apply w-full h-full z-20 absolute object-cover;
        }
        h1.hero-img2-text{
        @apply absolute top-1/2 right-[-50px] -translate-y-1/2 
        -rotate-90  text-white  font-medium text-[100px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
        }
        div.hero-img3{
          @apply w-[360px] h-[280px] absolute bottom-[40%] right-0
        }
        h1.hero-img3-text{
          @apply text-[100px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30
        }
        .hero-img3-img{
          @apply w-full h-full z-20 absolute object-cover
        }
      }





      /* @media (max-width:1279px) and (min-width:1024px) {
        .hero-img1 {
          @apply w-[420px] h-[260px] absolute bottom-[100px] left-0;
        }
        h1.hero-img1-text {
          @apply text-[72px] leading-[64px] text-white font-medium absolute text-center right-1/2 translate-x-1/2 top-0;
        }
        .hero-img1-img {
          @apply w-full h-full absolute object-fill;
        }
      
        .hero-img2 {
          @apply w-[220px] h-[320px] absolute top-[100px] left-[calc(50%+30px)] -translate-x-1/2;
        }
        .hero-img2-img {
          @apply w-full h-full absolute object-cover;
        }
        h1.hero-img2-text {
          @apply absolute top-1/2 right-[-32px] -translate-y-1/2 -rotate-90 text-white text-[72px] leading-[64px] font-medium text-center;
        }
      
        div.hero-img3 {
          @apply w-[360px] h-[280px] absolute bottom-[240px] right-0;
        }
        h1.hero-img3-text {
          @apply text-[72px] leading-[64px] font-medium text-white absolute text-center right-1/2 translate-x-1/2 top-0;
        }
        .hero-img3-img {
          @apply w-full h-full absolute object-cover;
        }
      } */








      
      @media (max-width:1150px) and (min-width:1024px) {
        .hero-img1{
          @apply w-[420px] h-[260px] absolute bottom-[300px] left-0;
        }
        h1.hero-img1-text{
          @apply text-[80px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30;
        }
        .hero-img1-img{
          @apply w-full h-full z-20 absolute object-fill
        }
        .hero-img2{
          @apply w-[220px] h-80 absolute top-[120px] left-[50%] -translate-x-1/2;
        }
        .hero-img2-img{
          @apply w-full h-full z-20 absolute object-cover;
        }
        h1.hero-img2-text{
        @apply absolute top-1/2 right-[-40px] -translate-y-1/2 
        -rotate-90  text-white  font-medium text-[80px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
        }
        div.hero-img3{
          @apply w-[360px] h-[280px] absolute bottom-[40%] right-0
        }
        h1.hero-img3-text{
          @apply text-[80px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30
        }
        .hero-img3-img{
          @apply w-full h-full z-20 absolute object-cover
        }
      }


      
      @media (max-width:1023px) and (min-width:768px) {
        .hero-img1{
          @apply w-[420px] h-[260px] absolute bottom-[300px] left-0;
        }
        h1.hero-img1-text{
          @apply text-[80px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30;
        }
        .hero-img1-img{
          @apply w-full h-full z-20 absolute object-fill
        }
        .hero-img2{
          @apply w-[220px] h-80 absolute top-[120px] left-[50%] -translate-x-1/2;
        }
        .hero-img2-img{
          @apply w-full h-full z-20 absolute object-cover;
        }
        h1.hero-img2-text{
        @apply absolute top-1/2 -right-10 -translate-y-1/2 
        -rotate-90  text-white  font-medium text-[80px] leading-[95px] tracking-[0] not-italic z-30 text-center m-0 p-0;
        }
        div.hero-img3{
          @apply w-[360px] h-[280px] absolute bottom-[40%] right-0
        }
        h1.hero-img3-text{
          @apply text-[80px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-[-18px] z-30
        }
        .hero-img3-img{
          @apply w-full h-full z-20 absolute object-cover
        }
      }
      
 
      

}

