@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #4CAC40;       /* Green */
  --text-primary:#05073C;/*navy blue*/
  --text-secondary-hover:#00ACC1;
  --color-secondary:#088396;
 

}

.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
  transition: background-color 0.3s ease;
}
.bg-primary:hover {
  background-color: var(--color-primary);
}
.bg-secondary{
  background-color:var(--color-secondary);
  color:#fff;
  transition: background-color 0.3s ease;
}

.text-primary {
  color: var(--text-primary);
  transition: color 0.3s ease;
}
.text-secondary:hover {
  color: var(--text-secondary-hover);
  transition:all 3s;
}

.font-roboto{
  font-family: "Roboto", sans-serif;

}
.font-raleway{
  font-family: "Raleway", sans-serif;

}

.container{
  max-width:1320px;
  margin:0 auto;

}
@media (max-width:1024px){
.container{
padding:0 8px
}
}


/* styles.css */
.DropdownMenuContent {
	transform-origin: var(--radix-dropdown-menu-content-transform-origin);
	animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.shadow-custom{
  boxShadow:0 0 20px 0 rgba(0, 0, 0, 0.10);
  }

  @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

@layer components{

.hero-wrapper{
  @apply max-w-[1840px] relative h-full mx-auto px-6 text-black z-10
}
@media (max-width: 2560px) and (min-width: 1750px) {
.hero-img1{
  @apply w-[777px] h-[360px] absolute bottom-[148px] left-0;
}
h1.hero-img1-text{
  @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30;
}
.hero-img1-img{
  @apply w-full h-full z-20 absolute object-fill
}

}

@media (max-width: 1799px) and (min-width: 1536px) {
  .hero-img1{
    @apply w-[777px] h-[360px] absolute bottom-[148px] left-0;
  }
  h1.hero-img1-text{
    @apply text-[128px]  font-medium w-fit h-fit text-white m-0 p-0 leading-[95px]  absolute text-center right-1/2 translate-x-1/2 top-0 z-30;
  }
  .hero-img1-img{
    @apply w-full h-full z-20 absolute object-fill
  }
  
  }
}